@font-face {
  font-family: 'Virgil';
  src: url('assets/Virgil.woff2') format('woff2');
}

body {
  font-family: Virgil, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #15202b;
  user-select: none;
}

p {
  color: white;
  text-align: center;
  font-size: 2rem;
  user-select: none;
  width: 800px;
  margin-bottom: 0.5rem;
}
